.navbar{
    background-color: #fa8cef;
    margin-bottom: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px; /* Ajusta la altura según tus necesidades */
}


.list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.list li{
    font-size: 65px;
    margin-bottom: 5px;
    font-family: "Argentum Sans";
    margin-right: 190px;
    color: black;
}

.logo {
    max-width: 127px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Para mantener la proporción original de la imagen */
    margin-left: 150px;
    margin-top: 1px;
    margin-bottom: 5px;
}